<style>

</style>


<a href="/users/<%= session[:user_id] %>/edit">Avatar</a>
<div class="jumbotron hero-spacer">
<form action="/users/<%= @user.id %>/posts" method="POST">
  <input type="text" placeholder="Advice Here" name="tweet">
  <input type="submit" value="Advise">
</form>
</div>

  <ul>
    <% @posts.each do |post|%>
      <li><a href= <%="/users/#{@user.id}" %>><%= @user.username %></a><br><p><%= post.content %></p></li>
    <%end%>
  </ul>

