<<<<<<< HEAD
<a href="/user/<%= session[:success] %>/edit">
=======

<form action="/users/<%= @user.id %>/posts" method="POST">
  <input type="text" placeholder="Tweet Here" name="tweet">
  <input type="submit" value="Tweet">
</form>


>>>>>>> 339c5c266b9a845c73507001eb92212724e707be

  <ul>
    <% @posts.each do |post|%>
      <li><a href= <%="/users/#{@user.id}" %>><%= @user.username %></a><br><p><%= post.content %></p></li>
    <%end%>
  </ul>

